<Config>
  <LogLevel>Info</LogLevel>
  <Port>8989</Port>
  <UrlBase></UrlBase>
  <BindAddress>*</BindAddress>
  <SslPort>9898</SslPort>
  <EnableSsl>False</EnableSsl>
  <ApiKey>3c30e58d3bab453fbc3acccfe164033e</ApiKey>
  <AuthenticationMethod>None</AuthenticationMethod>
  <Branch>phantom-develop</Branch>
  <LaunchBrowser>True</LaunchBrowser>
  <SslCertHash></SslCertHash>
  <UpdateMechanism>Docker</UpdateMechanism>
</Config>